@import "tailwindcss";

@theme {
  --color-luxury-gold: #c5a059;
  --color-luxury-black: #080808;
  --color-luxury-dark: #0f0f0f;
  --color-luxury-gray: #393939;
  --color-luxury-text-gray: #737373;
  --color-luxury-white: #ffffff;
  --font-sans: 'Inter', 'Raleway', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans antialiased text-luxury-white bg-luxury-dark;
  }
}

/* Custom Luxury Font if needed */
.luxury-font {
  font-family: var(--font-serif);
  letter-spacing: 0.05em;
}